.tittle {
  display: flex;
  justify-content: center;
  color: darkgreen;
  font-size: 2.4rem;
  font-family: cursive;
  padding-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.input-group {
  width: 500px;
  display: inline-block;
  padding-bottom: 30px;
}

.label {
  font-family: cursive;
  padding-bottom: 5px;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1.3px solid darkgreen;
  border-radius: 10px;
}

.button {
  display: flex;
  margin: 10px;
  padding-bottom: 30px;
  justify-content: space-evenly;
}

.submit {
  font-size: 15px;
  font-family: Arial;
  width: 140px;
  height: 50px;
  border-width: 1px;
  color: #fff;
  border-color: #599bb3;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 10px 14px -7px #276873;
  text-shadow: 0px 1px 0px #3d768a;
  background: linear-gradient(#599bb3, #408c99);
}

.submit:disabled {
  background: linear-gradient(
    27deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(195, 190, 183, 1) 100%
  );
  background-color: transparent;
}

.submit:hover {
  background: linear-gradient(#408c99, #599bb3);
}

.reset {
  font-size: 15px;
  font-family: Arial;
  width: 140px;
  height: 50px;
  border-width: 1px;
  color: rgba(255, 255, 255, 1);
  border-color: #599bb3;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 10px 14px -7px #276873;
  text-shadow: 0px 1px 0px #3d768a;
  background: linear-gradient(rgba(121, 214, 217, 1), rgba(52, 198, 187, 1));
}

.buttonAction:hover {
  background: linear-gradient(rgba(52, 198, 187, 1), rgba(121, 214, 217, 1));
}

.error {
  background-color: red;
  color: white;
  opacity: 0;
  transition: all linear 0.2s;
}

.error .invalid {
  opacity: 1;
}