<div *ngIf="showLogin">
  <h1 class="title">Log in</h1>
  <form class="form" (ngSubmit)="enviar()" #form="ngForm">
    <div class="input-group">
      <label class="label" for="user">User:</label>
      <input
        class="input"
        type="text"
        name="user"
        required
        id="user"
        #userInput="ngModel"
        [(ngModel)]="register.user"
        placeholder="Usuario"
      />
      <p class="error" [class.invalid]="userInput.invalid">Campo requerido</p>
    </div>
    <div class="input-group">
      <label class="label" for="password">Password:</label>
      <input
        class="input"
        type="password"
        name="password"
        required
        id="password"
        #passwordInput="ngModel"
        [(ngModel)]="register.password"
        placeholder="*******"
      />
      <p class="error" [class.invalid]="passwordInput.invalid">
        Campo requerido
      </p>
    </div>
    <div class="button">
      <button class="submit" [disabled]="form.invalid" type="submit">
        Submit
      </button>
      <button class="reset" type="reset">Reset</button>
    </div>
  </form>
</div>
<app-display-data *ngIf="showData" (back)="onBack($event)" [register]="register" ></app-display-data>
